.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 0 5%;
    position: relative;
    color: #000;
    backdrop-filter: blur(5px);
    transform: translateY(40px);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    /* Transition properties */
}

.hero.visible {
    transform: translateY(0);
    /* Move to original position */
    opacity: 1;
    /* Fade in */
}

.heroHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.logo {
    max-width: 100px;
}

.anniversary {
    font-size: 0.9rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.heroText {
    margin-top: 2rem;
    max-width: 800px;
    position: relative;
    line-height: 1;
}



.rebel {
    display: block;
    margin-left: -150px;
    font-family: "DM Sans", serif;
    font-size: 200px;
    font-weight: 600;
    transform: scaleX(1.2);

}

.against {
    display: block;
    font-family: "DM Sans", serif;
    font-size: 200px;
    font-weight: 600;
    margin-left: 50px;
    margin-top: -75px;
    transform: scaleX(1.2);
}

.boring {
    display: block;
    font-family: "DM Sans", serif;
    font-size: 200px;
    font-weight: 600;
    margin-top: -24px;
    margin-left: -80px;
    transform: scaleX(1.2);
}

.description {
    font-size: 15px;
    line-height: 1.6;
    max-width: 300px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #333;
}

/* Media Queries for responsiveness */

@media (max-width: 1200px) {
    .hero {
        padding-bottom: 100px;
        height: 100%;
    }

    .rebel {
        margin-left: 40px;
    }

    .against {
        margin-top: -40px;
        margin-left: 100px;
    }

    .boring {
        margin-top: 0;
        margin-left: 60px;
    }

    .description {
        font-size: 20px;
        letter-spacing: 0px;
        max-width: 400px;
        margin-bottom: -50px;
        margin-right: 300px;
        padding: 10px;
    }
}

@media (max-width: 768px) {


    .rebel {
        font-size: 120px;
        margin-left: 30px;
    }

    .against {
        font-size: 120px;
        margin-top: -20px;
        margin-left: 60px;
    }

    .boring {
        font-size: 120px;
        margin-left: 30px;
    }

    .description {
        font-size: 15px;
        max-width: 700px;
        right: 10px;
        margin-bottom: -10px;
        margin-left: 30px;
    }
}

@media (max-width: 600px) {
    .description {
        font-size: 13px;
        margin-bottom: -60px;
    }

}

@media (max-width: 485px) {

    .rebel {
        margin-top: 50px;
        margin-left: 40px;
    }

    .against {
        margin-top: -20px;
        margin-left: 70px;
    }

    .boring {
        margin-left: 50px;
        margin-top: 0;
    }

    .description {
        font-size: 14px;
        max-width: 500px;
        margin: 0;
    }
}