@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

/* Section Styling */
.bespokeSection {
    padding: 50px 20px;
    font-size: 3rem;
    background: transparent;
    text-align: center;
}

/* Bespoke Heading Styling */
.bespokeHeading {
    font-family: 'Arial', sans-serif;
    padding: 7rem;
    margin: 10px;
    color: #000;
}

.bespokeHeading h2 {
    font-size: 4rem;
    margin: 0;
    line-height: 1.2;
}

.bespokeHeading h2 span.underline {
    position: relative;
    display: inline-block;
}

.bespokeHeading h2 span.underline::after {
    content: "";
    display: block;
    height: 4px; /* Adjust thickness as needed */
    background-color: currentColor; /* Matches the text color */
    position: absolute;
    bottom: -5px; /* Adjust distance below text */
    left: 0;
    right: 0;
    transform: scaleX(1.2) skewX(-10deg); /* Stretch horizontally and add a slight skew */
}

/* Item Styling */
.item {
    background: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 2px solid black;
    opacity: 0.5;
    padding-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease;
    position: relative;
}

.item:hover {
    opacity: 1;
}

/* Content Layout for Items */
.itemContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.itemTitle {
    font-size: 1.5rem;
    color: #d39f1b;
    text-align: left;
}

.itemHeading {
    font-size: 6rem;
    margin: 10px 0;
}

.descriptionContainer {
    flex-grow: 1;
    text-align: right;
    position: relative;
    max-width: 300px;
    margin-left: auto;
}

.itemDescription {
    font-size: 1rem;
    color: #666;
    opacity: 0;
    line-height: 1.5;
    max-height: 4.5em;
    overflow: hidden;
    transition: opacity 0.5s ease;
}

.item:hover .itemDescription {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.hoverImage {
    width: 250px;
    height: auto;
    position: absolute; 
    border-radius: 10px;
    animation: fadeIn 0.5s ease forwards; 
    opacity: 1; 
}

/* Responsive Styles */
@media (max-width: 768px) {
    .itemContent {
        flex-direction: column;
        align-items: flex-start;
    }

    .itemTitle {
        font-size: 1.8rem;
    }

    .itemHeading {
        font-size: 2.5rem;
    }

    .itemDescription {
        display: block;
        font-size: 0.9rem;
        opacity: 1;
        text-align: left;
        transition: opacity 0.5s ease;
    }

    .item {
        padding: 15px;
    }
}